.body{
    font-family: 'Raleway',sans-serif !important;
    overflow-x: hidden;
}
#Header{
    background-image: url('../public/header-background.svg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#Loja{
    background-image: url('../public/produtos-background.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

#Contato{
    background-image: url('../public/contato-background.svg');
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#Origens{
    background-image: url('../public/origens-background.svg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#Sal{
    background-image: url('../public/sal-background.svg');
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#Produtos{
    background-image: url('../public/produtos-background.svg');
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#Footer{
    background-image: url('../public/footer.svg');
    width: 100vw;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

#Origens-sal-duplo-mobile{
    display: none;
}

#Origens-sal-duplo-web{
    display: block;
}

@media (max-width: 1025px) {
    #Header{
        background-image: url('../public/header-background-mobile.jpg');
        height: 160vw;

    }
    #Loja{
        background-image: url('../public/produtos-background.svg')
    }
    #Origens{
        background-image: url('../public/origens-background-mobile.jpg');
        height: 100%;
    }
    #Origens-fundo{
        background-color: #096aa1;
        height: 40rem;
    }
    #Origens-sal-duplo-mobile{
        display: block;
    }
    #Origens-sal-duplo-web{
        display: none;
    }

    #Sal{
        background-image: url('../public/sal-background-mobile.svg');
    }

    #Produtos{
        background-image: url('../public/produtos-background.svg');

    }



}

.navBar {
    background-color: red;
    flex-direction: row;
    width: 100%;
    padding: 8% 8% 0% 8%;
}

.navBar ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navBar ul li {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.navBar ul li img {
    width: 100%;
}
.navBar-listItems {
    justify-content: flex-end;
}
.iconBurguer{
    width: 20% !important;
    margin-left: 60%;
}
.navBar-link {
    display: none;
}

@media(min-width: 738px) {
    .navBar {
        padding-top:2% ;
    }
    .navBar ul li img {
        width: 100%;
    }
    .iconBurguer {
        display: none;
    }
    .navBar-link {
        display: flex;
        color: #fff;
    }
    .navBar ul li img {
        width: 40%;
    }

    .navBar-link {
        margin: 0 2%;
    }

}

#floatSide{
    position:fixed;
	color:#FFF;
	text-align:center;
  font-size:30px;
  z-index:100;
}