.body{
    font-family: 'Raleway', sans-serif !important;
}
#Header{
    background-image: url('../public/navbar-background.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
#Loja{
    background-image: url('../public/backgroundLojaWeb.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
#Artesanal{
    background-image: url('../public/artesanal-background.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
#Contato{
    background-image: url('../public/contato-background.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
#Produtos{
    background-image: url('../public/produtos-background.svg');
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 1024px) {
    #Loja{
        background-image: url('../public/backgroundLojaMobile.svg')
    }
    #Produtos{
        background-image: url('../public/produtos-background-mobile.svg');
        background-size: cover;
        width: 100vw;


    }
 
}
@media (max-width: 768px) {
    #Artesanal{
        background-image: url('../public/artesanal-background-mobile.svg');
    }
}
  




